<!-- Content here -->
<div class="row">
  <!--side nav-->
  <div class="col-2">
    <div class="sidenav">
      <img src="">
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" style="color:rgba(255, 102, 0, 1);">
              <i class="fa-solid fa-house-chimney-window"></i>
              <strong>推文清單</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/admin_users" style="color:black;">
              <i class="fa-regular fa-user"></i>
              <strong>使用者列表</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="logout ">
      <a href="/logout" style="color:black;">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> <strong>登出</strong>
      </a>
    </div>
  </div>

  <!--content-->
  <div class="col-10">
    <div class="row border">
      <h1><strong>推文清單</strong></h1>
    </div>
    {{#each tweets}}
    <div class="row border">
      <!--頭像-->
      <div class="col-2">
        <img class="img-responsive center-block" src="{{this.User.avatar}}"
          style="width: 100px; margin: 5px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </div>
      <!--內容-->
      <div class="col-10" style="padding: 10px">
        <div class="alert alert-dismissible" role="alert">
          <strong>{{this.User.name}}</strong> <span
            class="text-muted">&ensp;@{{this.User.account}}&ensp;•&ensp;{{relativeTime this.createdAt}}</span>
          <form action="/admin/admin_main/{{this.id}}?_method=DELETE" method="POST" style="display: inline">
            <button type="submit" class="btn-close justify-content-end" aria-label="Close"></button>
          </form>
          <div>{{this.description}}</div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>